In [1]:
import pandas as pd 
import numpy as np 
import seaborn as  sns 
import matplotlib.pyplot as plt

In [3]:
customer_data=pd.read_csv("DIM_Customer.csv")
date_data=pd.read_csv("Dim_Date_Excel.csv")
product_data=pd.read_csv("DIM_Products.csv")
sale_data=pd.read_csv("FactInternetSale.csv")

In [4]:
customer_data

,CustomerKey,First Name,Last Name,Full Name,Gender,DateFirstPurchase,Customer City
0,11000,Jon,Yang,Jon Yang,Male,1/19/2018,Rockhampton
1,11001,Eugene,Huang,Eugene Huang,Male,1/15/2018,Seaford
2,11002,Ruben,Torres,Ruben Torres,Male,1/7/2018,Hobart
3,11003,Christy,Zhu,Christy Zhu,Female,12/29/2017,North Ryde
4,11004,Elizabeth,Johnson,Elizabeth Johnson,Female,1/23/2018,Wollongong
...,...,...,...,...,...,...,...
18479,29479,Tommy,Tang,Tommy Tang,Male,9/4/2019,Versailles
18480,29480,Nina,Raji,Nina Raji,Female,7/17/2020,London
18481,29481,Ivan,Suri,Ivan Suri,Male,8/13/2018,Hof
18482,29482,Clayton,Zhang,Clayton Zhang,Male,9/18/2019,Saint Ouen
18483,29483,Jésus,Navarro,Jésus Navarro,Male,9/9/2019,Paris La Defense

In [5]:
date_data

,DateKey,Date,Day,WeekNumber,Month,MonthShort,MonthNumber,Quater,Year
0,20190101,1/1/2019,Tuesday,1,January,Jan,1,1,2019
1,20190102,1/2/2019,Wednesday,1,January,Jan,1,1,2019
2,20190103,1/3/2019,Thursday,1,January,Jan,1,1,2019
3,20190104,1/4/2019,Friday,1,January,Jan,1,1,2019
4,20190105,1/5/2019,Saturday,1,January,Jan,1,1,2019
...,...,...,...,...,...,...,...,...,...
1091,20211227,12/27/2021,Monday,53,December,Dec,12,4,2021
1092,20211228,12/28/2021,Tuesday,53,December,Dec,12,4,2021
1093,20211229,12/29/2021,Wednesday,53,December,Dec,12,4,2021
1094,20211230,12/30/2021,Thursday,53,December,Dec,12,4,2021
1095,20211231,12/31/2021,Friday,53,December,Dec,12,4,2021

In [6]:
product_data

,ProductKey,ProductItemCode,Product Name,Sub Category,Product Category,Product Color,Product Size,Product Line,Product Model Name,Product Description,Product Status
0,1,AR-5381,Adjustable Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current
1,2,BA-8327,Bearing Ball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current
2,3,BE-2349,BB Ball Bearing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current
3,4,BE-2908,Headset Ball Bearings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current
4,5,BL-2036,Blade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current
...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,ML Bottom Bracket,Bottom Brackets,Components,NaN,NaN,NaN,ML Bottom Bracket,Aluminum alloy cups; large diameter spindle.,Current
602,603,BB-9108,HL Bottom Bracket,Bottom Brackets,Components,NaN,NaN,NaN,HL Bottom Bracket,Aluminum alloy cups and a hollow axle.,Current
603,604,BK-R19B-44,"Road-750 Black, 44",Road Bikes,Bikes,Black,44,R,Road-750,Entry level adult bike; offers a comfortable r...,Current
604,605,BK-R19B-48,"Road-750 Black, 48",Road Bikes,Bikes,Black,48,R,Road-750,Entry level adult bike; offers a comfortable r...,Current
605,606,BK-R19B-52,"Road-750 Black, 52",Road Bikes,Bikes,Black,52,R,Road-750,Entry level adult bike; offers a comfortable r...,Current